In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv("salario.csv")

In [ ]:
print("Formato do DataFrame: ", df.shape)

In [ ]:
df.head()

In [6]:
df_police = df[df.Department == "POLICE"].copy()

In [ ]:
print("Formato do DataFrame: ", df_police.shape)

In [12]:
df_police.head()

                 Name  ... Hourly Rate
0   AARON,  JEFFERY M  ...         NaN
1      AARON,  KARINA  ...         NaN
4  ABARCA,  FRANCES J  ...         NaN
7    ABBATE,  TERRY M  ...         NaN
9   ABBOTT,  CARMELLA  ...         NaN

[5 rows x 8 columns]

In [ ]:
print("--> POLICE:")
display(df.isnull().sum())

print("\n", "--." * 10, "\n")

print("--> TRANSPORTN:")
display(df.isnull().sum())

In [11]:
department = df_police.Department.unique()
salary_police_mean = df_police.groupby('Department')['Annual Salary'].mean()
salary_transportn_mean = df.groupby('Department')['Annual Salary'].mean()

In [ ]:
msalary = df['Annual Salary'].mean()
maxsalary = df['Annual Salary'].max()
minsalary = df['Annual Salary'].min()
print(msalary, maxsalary, minsalary)

In [ ]:
plt.bar('Police', msalary, color="red")
plt.bar('Police', maxsalary, color="green")
plt.bar('Police', minsalary, color="blue")
#plt.xticks('Department')
plt.xlabel('Department')
plt.xlabel('Salary')
plt.title("Annual Salary")
plt.show()

In [ ]:
x = sns.lineplot(x=department, y=salary_police_mean, label='policia')
ax = sns.lineplot(x=department, y=salary_transportn_mean, label='moto')
plt.legend(title="salarios")
plt.show()