In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("salario.csv")

In [ ]:
print("Formato do DataFrame: ", df.shape)

In [ ]:
df.head()

In [5]:
df_police = df[df.Department == "POLICE"].copy()

In [ ]:
print("Formato do DataFrame: ", df_police.shape)

In [ ]:
df_police.head()

In [ ]:
df_police.columns.values

In [9]:
df_police.columns = ['Name', 'Titles', 'Department', 'Full or Part-Time','Salary or Hourly', 'Typical Hours', 'Annual Salary','Hourly Rate']

In [ ]:
df_police.columns.values

In [ ]:
print("--> POLICE:")
display(df_police.isnull().sum())

print("\n", "--." * 10, "\n")

In [12]:
df_police = df_police[df_police['Annual Salary'].notna()]

In [ ]:
print("Formato do DataFrame: ", df_police.shape)

In [ ]:
print("--> POLICE:")
display(df_police.isnull().sum())

print("\n", "--." * 10, "\n")

In [ ]:
jobxx = df_police.Titles.unique()
print("Número de cargos: ",len(jobxx))

In [ ]:
jobxx = df_police.Titles.unique()
salary_police_mean = df_police.groupby('Titles')['Annual Salary'].mean()
ax = sns.barplot(x=jobxx, y=salary_police_mean)
plt.xticks(rotation=90)
plt.legend(title="Average Pay")
plt.show()

In [ ]:
msalary = df_police['Annual Salary'].mean()
maxsalary = df_police['Annual Salary'].max()
minsalary = df_police['Annual Salary'].min()
print("Média de salário: ", msalary, "Máximo de salário: " , maxsalary, "Mínimo de salário: ", minsalary)

In [ ]:
salary_police_mean = df_police.groupby('Titles')['Annual Salary'].mean()
ax = sns.barplot(x=jobxx, y=salary_police_mean)
plt.xticks(rotation=90)
plt.legend(title="Average Pay")
plt.show()